.containerWelcome {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: center;
  gap: 20vw;
  padding: 15px 0;
}

.containerLeft {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 2vw;
  font-weight: 400;
}

.text {
  font-size: 1.8vw;
  font-weight: 800;
  margin-top: 15px;
}

.orange {
  color: #ec6408;
}

.imgLogo {
  display: flex;
  height: 250px;
}

.button {
  display: flex;
  padding: 5px 10px;
  border: none;
  background-color: #ec6408;
  color: #e8f1f3;
  font-size: 0.9vw;
  font-weight: 600;
  transition: 0.3s;
  align-items: center;
  width: fit-content;
  margin-top: 40px;
}

.icon {
  font-size: 1.3vw;
  margin-right: 5px;
}

.button:hover {
  transition: 0.3s;
  background-color: #585858;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .containerWelcome {
    padding: 40px 0;
    width: 90vw;
  }
  .name {
    font-size: 6vw;
  }
  .text {
    font-size: 5vw;
    max-width: 80vw;
  }
  .imgLogo {
    display: none;
  }
  .button {
    padding: 5px;
    font-size: 3vw;
  }
  .icon {
    font-size: 5.5vw;
  }
}
