.containerButton {
    position: relative;
    margin-left: 100px;
    bottom: 100px;
}

.button {
    display: flex;
    padding: 5px 10px;
    border: none;
    background-color: #EC6408;
    color: #E8F1F3;
    font-size: 1vw;
    font-weight: 600;
    transition: 0.3s;
    align-items: center;
}

.icon {
    font-size: 2vw;
    margin-right: 5px;
}

.button:hover {
    transition: 0.3s;
    background-color: #585858;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .containerButton {
       margin-left: 50px;
       bottom: 0px;
       top: 10px;
       width: 200px;
    }
    .button {
        padding: 5px;
        font-size: 3vw;
    }
    .icon {
        font-size: 4vw;
    }
}
