.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    padding: 8px 0;
    width: 5vw;
    cursor: pointer;
    margin-left: 20px;
}

.navLinks {
    display: flex;
    gap: 60px;
    list-style: none;
    font-size: 1.5vw;
    transition: 0.3s;
    letter-spacing: 3px;
}

.link:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.profile {
    margin-right: 30px;
    font-size: 3vw;
    color: #EC6408;
    transition: 0.3s;
}

.profile:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

@media screen and (max-width: 600px){
    .containerHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/*********************Mobile*******************/

.containerHeaderMobile {
    display: flex;
    gap: 68vw;
    align-items: center;
}

.logoMobile {
    display: flex;
    padding: 8px 0;
    width: 20vw;
    cursor: pointer;
}

.navLinksMobile {
    cursor: pointer;
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style: none;
    align-items: end;
    justify-content: center;
    right: 0;
    top: 87px;
    width: 100vw;
    background-color: #e8f1f3ca;
    border-top: 2px solid #EC6408;
    font-size: 10vw;
    padding-right: 10px;
}

.menuIcon {
    font-size: 8vw;
    color: #EC6408;
    position: relative;
    top: 5px;
}

.linkMobile {
    font-size: 5vw;
    letter-spacing: 3px;
    color: #434343;
    padding: 8px 0;
}