.containerWelcome {
    position: absolute;
    margin-top: 40px;
    margin-left: 100px;
}

.name {
    font-size: 2.5vw;
    font-weight: 400;
}

.text {
    font-size: 2.5vw;
    font-weight: 800;
    margin-top: 15px;
}

.orange {
    color: #EC6408;
}

.imgLogo {
    position: relative;
    display: flex;
    justify-content: end;
    height: 350px;
}

@media screen and (max-width: 600px){
    .containerWelcome {
        position: relative;
        margin-left: 50px;
        margin-top: 10px;
        width: 250px;
    }
    .name {
        font-size: 4vw;

    }
    .text {
        font-size: 4vw;
        max-width: 250px;
    }
    .imgLogo {
        display: none;
    }
}