.main {
    display: flex;
    flex-direction: column;
}
.detailsContainer {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img {
    width: 360px;
}