.main {
  justify-content: start;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 90vw;
  min-height: 80vh;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  border-bottom: 5px solid #D9D9D9;
  padding: 20px 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.img {
  width: 360px;
  height: 230px;
}

.city {
  color: #ec6408;
  font-size: 20px;
  font-weight: 800;
}

.country {
  font-size: 15px;
  color: #585858;
}

.icon {
  display: flex;
  color: #ffffff;
  background-color: #585858;
  font-size: 20px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  margin-left: auto;
}

.icon:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

.containerButton {
  /* background-color: aqua; */
}

.button {
  display: flex;
  padding: 5px 10px;
  border: none;
  background-color: #EC6408;
  color: #E8F1F3;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
  align-items: center;
  width: fit-content;
  /* margin-top: 40px; */
}

.button:hover {
  transition: 0.3s;
  background-color: #585858;
  cursor: pointer;
}

.itinerariesMain {
  margin: 20px 0;

}
.itinerariesCounter{
  font-weight: 800;
  text-align: end;
}
.itinerariesContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.itineraryContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.itineraryContainer > img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.itineraryTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 600px;
}
.itineraryTextContainer > h5 {
  color: #EC6408;
  font-weight: 800;
  font-size: 16px;
}
.itineraryPrice {
  font-weight: 800;
}
.rowReverse {
  flex-direction: row-reverse;
}
.textAlignRight {
  text-align: right;
}
@media (max-width: 800px) {
  .detailsContainer {
    flex-direction: column;
  }
  .img {
    width: 90vw;
  }

}

@media (max-width: 500px) {
  .itinerariesContainer {
    gap: 3rem;
  }
  .itineraryContainer {
    flex-direction: column;
  }
  .itineraryContainer > img {
    width: 280px;
    height: auto;
    border-radius: 10px;
  }
  .rowReverse {
    flex-direction: column;
  }
  .textAlignRight {
    text-align: left;
  }
  
}

