.containerCarrousel {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.imageCarrousel {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.containerImages {
    height: 450px;
    width: 100%;
}

.p {
    position: relative;
    bottom: 55px;
    background-color: #585858c5;
    color: #E8F1F3;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 4px 0 ;
}